@import "tailwindcss";

@layer base {
  :root {
    --header-height: 80px;
  }

  body {
    font-family: "Pre";
  }
}

@layer components {
  .center {
    @apply flex items-center justify-center;
  }

  .between {
    @apply flex items-center justify-between;
  }
}

@font-face {
  font-family: "Pre";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
